/*!**************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/group-css-media-queries-loader/lib/index.js!../node_modules/sass-loader/dist/cjs.js!./styles/style.sass ***!
  \**************************************************************************************************************************************************************************/
@font-face {
  font-family: "Soup of Justice";
  src: url(assets/fonts/Soup-of-Justice/Soup-of-Justice.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: all 1s;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
}

b, i {
  color: inherit;
}

* {
  font-family: "Soup of Justice";
  color: #333333;
}

h2 {
  font-size: 64px;
  line-height: 1;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 42px;
  color: #047d9b;
}

.mem-game {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  max-height: 1080px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
.mem-game__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  visibility: hidden;
}
.mem-game__popup.active {
  visibility: visible;
}
.mem-game__popup > div {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%);
  padding: 25px;
  visibility: hidden;
}
.mem-game__popup > div.active {
  bottom: 50%;
  transform: translate(-50%, 50%);
  visibility: visible;
}
.mem-game__popup-hide {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -75%);
  z-index: 2;
}
.mem-game__popup-hide img:hover {
  transition: 0.5s;
  transform: scale(110%) rotate(3deg);
}
.mem-game__popup-header h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  color: #fff;
  text-shadow: 4px 8px 0px #333333;
  z-index: 2;
}
.mem-game__popup-header img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 50px);
  z-index: 1;
  pointer-events: none;
}
.mem-game__popup-front {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: url(assets/images/popups/decor.png) 0% 95%, url(assets/images/popups/decor.png) 95% 95%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 65px 50px 50px 50px;
}
.mem-game__popup-front > h2 {
  padding: 32px 0;
}
.mem-game__popup-front-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.mem-game__popup-front-decal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/images/popups/decor.png) 0% 95%, url(assets/images/popups/decor.png) 95% 95%;
  background-repeat: no-repeat;
  pointer-events: none;
}
.mem-game__popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.mem-game__popup-stars img {
  display: none;
  width: 100%;
}
.mem-game__popup-stars img.active {
  display: block;
}
.mem-game__popup-btns {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
}
.mem-game__popup-score-current {
  color: #047d9b;
}
.mem-game__popup-rating .mem-game__popup-front {
  padding-right: 35px;
}
.mem-game__popup-rating-list {
  height: 500px;
  padding-right: 15px;
  font-size: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #46b56c #c7c4bc;
}
.mem-game__popup-rating-list::-webkit-scrollbar {
  width: 15px;
}
.mem-game__popup-rating-list::-webkit-scrollbar-thumb {
  background-color: #46b56c;
}
.mem-game__popup-rating-list::-webkit-scrollbar-track {
  background: #c7c4bc;
}
.mem-game__popup-rating-list li {
  display: flex;
  justify-content: space-between;
  line-height: 1.1;
}
.mem-game__popup-pause, .mem-game__popup-victory, .mem-game__popup-defeat, .mem-game__popup-rating {
  width: 500px;
}
.mem-game__popup-settings {
  width: 500px;
}
.mem-game__popup-settings-music {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mem-game__popup-settings-level {
  display: flex;
  flex-direction: column;
}
.mem-game__popup-settings-level h3 {
  line-height: 1.5;
}
.mem-game__popup-settings-level-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.mem-game__popup-settings-level-radio input[type=radio] {
  display: none;
}
.mem-game__popup-settings-level-radio input[type=radio]:checked + label {
  color: #fff;
  background-color: #333333;
}
.mem-game__popup-settings-level-radio label {
  flex: 1 1 auto;
  font-size: 42px;
  background-color: #c0c0c0;
  border-radius: 16px;
  transition: 0s;
  padding: 5px;
  cursor: pointer;
}
.mem-game__player {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 42px;
  width: 96px;
  border-radius: 16px;
  box-shadow: inset -40px 0px 0px 0px #c0c0c0;
  background-color: #333333;
  outline: none;
  transition: 0.3s;
}
.mem-game__player:checked {
  box-shadow: inset 40px 0px 0px 0px #46b56c;
}
.mem-game__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
}
.mem-game__menu-logo {
  max-height: calc(100% - 143px - 272px);
  height: 100%;
  padding: 25px 0 50px 0;
  padding-bottom: 0;
}
.mem-game__menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mem-game__menu button {
  transform: rotate(-15deg);
}
.mem-game__menu.active {
  opacity: 1;
  visibility: visible;
}
.mem-game__menu.active button {
  transform: rotate(0deg);
}
.mem-game__topbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.mem-game__topbar.active {
  transform: translate(-50%, 0);
}
.mem-game__topbar-tools {
  position: absolute;
  width: 100%;
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mem-game__topbar-timer {
  position: relative;
}
.mem-game__topbar-timer span {
  position: absolute;
  top: 25%;
  left: 54px;
  color: #fff;
  font-size: 32px;
  line-height: 1;
}
.mem-game__topbar-bg {
  max-width: 100vw;
}
.mem-game__playfield {
  position: fixed;
  display: none;
  gap: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}
.mem-game__playfield.active {
  opacity: 1;
  visibility: visible;
}
.mem-game__playfield-cube {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100px;
  max-height: 100px;
  aspect-ratio: 1;
  perspective: 1000px;
  cursor: pointer;
}
.mem-game__playfield-cube .content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.mem-game__playfield-cube .content img {
  width: 100%;
  height: 100%;
}
.mem-game__playfield-cube .content img:last-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.mem-game__playfield-cube .content img:last-child:last-child {
  transform: rotateY(180deg);
}
.mem-game__playfield-cube.locked {
  cursor: auto;
}
.mem-game__playfield-cube.locked .content {
  transform: rotateY(180deg);
}
.mem-game__playfield-cube:hover {
  transform: scale(110%);
}
.mem-game__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #6dced5;
  z-index: -1;
}
.mem-game__bg [class*=clouds-] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mem-game__bg .clouds-large {
  background-image: url(assets/images/background/large_clouds.png);
  animation: moveClouds 15s linear infinite;
}
.mem-game__bg .clouds-small {
  background-image: url(assets/images/background/small_clouds.png);
  animation: moveClouds 13s linear infinite;
}
.mem-game__bg.active [class*=clouds-] {
  background-position-y: -1100px;
}
.mem-game__bg.active .island {
  bottom: 0;
}
.mem-game__bg .island {
  position: fixed;
  bottom: -1100px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes moveClouds {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1640px;
  }
}
